body {  
     background-color: rgb(72, 0, 255);/*cor de fundo da página*/
color: rgb(0, 139, 12);/*cor da escrita*/
}

     h1{
    font-size:  30px;         /*tamanho da fonte */
  text-align:   center;       /*centralizado*/
  text-transform: uppercase;  /*letras maiúsculas*/
}

p {
     font-size: 16px;
     color: rgb(250, 215, 217);
}
